.footer-section{
	padding:2em 0;
	text-align:center;
	background: rgb(240, 173, 185);
}
.footer-top p {
	font-size: 20px;
	color: #fff;
	font-weight: 400;
}
.footer-top  a {
	font-size: 1em;
	color:#fff;
	font-weight: 400;
	text-transform: capitalize;
}
.footer-top a:hover {
	color: #fff;
}
.footer-top a {
	margin: 0 0.3em
}

